body{
	font-family:Open Sans,Arial;
	color:#e5e5e5;
	font-size:18px;
	margin:2em auto;
	max-width:800px;
	padding:1em;
	line-height:1.2;
	background-color:#050505;
}

a:link, a:visited {
	color:#458588;
}

div{
	margin-bottom:1em;
}

footer{
	margin-top:1em;
	color:#gray;
	font-size:15px;
}
