body {
    background-color: #1b1b1b;
    color: #fff;
    font-family: "Times New Roman", sans-serif;
    fonnt-size:1.2em;
    max-width:50em;
    margin:0 auto;
    line-height:1.4;
    padding:1em 1em 0 ;
}

a:link,a:visited {
    color:white;
}

